*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

header{
    padding-left: 80px;
    padding-top: 15px;
    display: flex;  
    border-bottom: 1px solid black;
    font-size: 20px;
    gap: 10;
    padding-bottom: 15px;
}

#nome{
    margin-right: 770px;
}

.partedecima{
    list-style: none;
    gap: 20px;
    display: flex;

}

#pverde{
    padding-left: 300px;
    padding-top: 60px;
    font-size: 15px;
    color: rgb(10, 164, 164);
    font-weight:bold;
}
#pmaior{
    padding-left: 300px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: bold;
}
#pmenor{
    padding-left: 300px;
    padding-top: 20px;
    font-size: 17px;
}
#butao1{
    margin-left: 300px;
    margin-top: 30px;
    height: 7vh;
    width: 20vh;
    border: none;
    color: white;
    background-color:black;
    border-radius: 5px;
}

#butao2{
    margin-left: 10px;
    height: 7vh;
    width: 20vh;
    border: solid grey 1px;
    background-color: white;
    border-radius: 5px;
}

.divisinha{
    font-family: sans-serif;
    margin-top: 200px;
    border-radius: 25px;
    background-color: #E6E3E3;
    display: flex;
    align-items: center;
    margin: 40px;
    padding: 50px;
}

.divisinha div{
    margin-left: 10vh;
}

#p{
    height: 10vh;
    width: 40vh;
}

#seg{
    height: 10vh;
    width: 40vh;
}

#ter{
    height: 10vh;
    width: 40vh;
}

#qua{
    height: 10vh;
    width: 40vh;
}
